<footer>
    <div class="message-foot">
        <h1>Пишите нам</h1>
        <p>для получения консультации или заказа продукции</p>
        <form action="/Home/ContactUs" method="post" name="ContactUsModel">
            <div class="n-n">
                <input name="Name" type="text" placeholder="Ваше имя*">
                <input name="Phone" type="text" placeholder="Номер телефона*">
            </div>
            <input name="Address" type="text" placeholder="Адрес доставки">
            <textarea name="Text" placeholder="Ваше сообщение"></textarea>
            <p>* Отправляя свои данные, Вы даете согласие на обработку персональных данных.</p>
            <div class="but-foot">
                <span>* Звездочкой отмечены обязательные для заполнения поля.</span>
                <button type="submit">Отправить</button>
            </div>
        </form>
    </div>
    <div class="kontakt-foot">
        <h1>Контакты</h1>
        <p><b>Офис:</b> Кемерово, ТЦ "Восточный ветер" ул. Тухачевского, 50/5, 4 этаж, офис 30</p>
        <p><b>Телефоны:</b> +7 3842 590 777<br>+7 952 172 97 77</p>
        <p><b>E-mail:</b> stroyka.kem@mail.ru</p>
        <p><a href="https://vk.com/club150133443"><i class="fab fa-vk"></i></a></p>
        <p>© «Дрим Хаус» 2015-2019</p>
    </div>
</footer>