<header>
    <div class="header-mobile">
        <a class="logo" href="/">ДХ</a>
        <a class="logo2" href="/">Дрим Хаус</a>
        <div class="vipad">
            <input type="checkbox" name="togglemessage" id="header-message" class="togglemessage">
            <label for="header-message" class="togglemessage"><i class="fab fa-telegram-plane"></i></label>
            <div class="hm-message">
                <form>
                    <div class="n-n">
                        <input type="text" placeholder="Ваше имя*">
                        <input type="text" placeholder="Номер телефона*">
                    </div>
                    <input type="text" placeholder="Адрес доставки">
                    <textarea name="message" placeholder="Ваше сообщение"></textarea>
                    <p>* Отправляя свои данные, Вы даете согласие на обработку персональных данных.</p>
                    <p>* Звездочкой отмечены обязательные для заполнения поля.</p>
                    <button type="submit">Отправить</button>
                </form>
            </div>
        </div>
        <div class="vipad">
            <input type="checkbox" name="toggle" id="header-call" class="togglekontakt">
            <label for="header-call" class="togglekontakt"><i class="fas fa-phone"></i></label>
            <div class="hm-kontakt">
                <ul>
                    <li>Городской: +7 3842 590 777</li>
                    <li>Мобильный: +7 952 172 97 77</li>
                    <li>E-mail: stroyka.kem@mail.ru</li>
                    <li>Офис: Кемерово, ТЦ "Восточный ветер" ул. Тухачевского, 50/5, 4 этаж, офис 30</li>
                </ul>
            </div>
        </div>
        <div class="vipad">
            <input type="checkbox" name="toggle" id="header-menu" class="togglemenu">
            <label for="header-menu" class="togglemenu"><i class="fas fa-bars"></i></label>
            <div class="hm-menu">
                <ul>
                    <li class="activ"><a>Главная</a></li>
                    <li><a href="">Услуги</a></li>
                    <li><a href="">Доставка</a></li>
                    <li><a href="">Каталог домов и бань</a></li>
                    <li><a href="">Отзывы</a></li>
                    <li><a href="page/kredit/kredit.html">Кредит</a></li>
                    <li><a href="">Информация</a></li>
                    <li><a href="page/kontakt/cont.html">Контакты</a></li>
                </ul>
            </div>
        </div>
    </div>
    </div>
    <div class="zag">
        <div class="header-table">
            <div class="tlogo"><i class="fab fa-fort-awesome-alt"></i>Дрим Хаус</div>
            <div class="htc">Телефон в Кемерово:<br>+7(384)25 90 777</div>
        </div>
        <div class="l1tab">
            <h1>ПРОИЗВОДСТВО И ПРОДАЖА <br> ПРОФИЛИРОВАННОГО БРУСА В КЕМЕРОВОСКОЙ ОБЛАСТИ <br> от 9500 руб./куб.м.</h1>
            <p></p>
        </div>
    </div>
    <div class="header-menu1">
        <ul class="header-menu">
            <li><a href="index.html"><i class="fas fa-home"></i></a></li>
            <li><a href="">Услуги</a></li>
            <li><a href="">Доставка</a></li>
            <li><a href="">Каталог домов и бань</a></li>
            <li><a href="">Отзывы</a></li>
            <li><a href="page/kredit/kredit.html">Кредит</a></li>
            <li><a href="">Информация</a></li>
            <li><a href="page/kontakt/cont.html">Контакты</a></li>
        </ul>
    </div>
</header>