@{
    ViewData["Title"] = "Контакты";
}

<partial name="/Views/Shared/Header.cshtml" />

<div class="l1 l1-kont">
    <h1>Контакты</h1>
    <h2>Дрим Хаус. Кемерово</h2>
    <p><b>Адрес:</b> Кемерово, ТЦ "Восточный ветер" ул. Тухачевского, 50/5, 4 этаж, офис 30</p>
    <p><b>Телефон в Кемерово:</b> +7(384)25 90 777</p>
    <p><b>График работы:</b> ПН-СБ: 9:00-18:00</p>
    <p><b>E-mail:</b> stroyka.kem@mail.ru</p>
    <p><b>Схема проезда:</b></p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2270.336127790467!2d86.13394571605266!3d55.31721633296912!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x42d80ee8609bdcb7%3A0x82391c335a31c004!2z0JLQvtGB0YLQvtGH0L3Ri9C5INCy0LXRgtC10YA!5e0!3m2!1sru!2sru!4v1544654346057" frameborder="0" allowfullscreen></iframe>
</div>

<partial name="/Views/Shared/Footer.cshtml" />