@{
    ViewData["Title"] = "ContactUs";
}

<partial name="/Views/Shared/Header.cshtml" />

<h2>Какой то текст здесь что всё заебись!</h2>

<p>
    Нессы @ViewData["Name"] мы тебе перезвоним(нет)!
</p>

<a href="/" target="_parent">Вернуться на главную, если не произошло перенаправление</a>


<script type="text/javascript">
//    setTimeout(function () {
//        window.open('/', '_parent');
//    }, 5000);
</script>

<partial name="/Views/Shared/Footer.cshtml" />
